{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}

<style>

    @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

    body {
    background-image: url({{ url_for('static', filename='dots.gif')}});
  }

    .big_text {
    margin: 3%;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 65px;
  }

  .small_text {
    margin: 3%;
    color: #D1D1D1;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

</style>

<div style="text-align: center; color: white; font-family: 'Rubik', sans-serif;">

    <div style="margin-bottom: 1%;" class="big_text">The <span style="color: #A44AA4; font-size: 70px;">V</span>erselet Team</div>
    <div><b>Meet the team behind this project<br><br><span style="color: #A44AA4">SyntaEXE</span></b></div>

    <div class="row" style="margin-left: 32.5%; margin-top: 3%;">

        <div class="column" style="width: 30%; color: #A44AA4;">
            <div><b>Project Lead <span style="color: white">[ CEO of SyntaEXE ]</span> :</b></div><br>
            <div><b>Head Of Back-end <span style="color: white">[ CTO of SyntaEXE ]</span> :</b></div><br>
            <div><b>Head of Operations <span style="color: white">[ COO of SyntaEXE ]</span> :</b></div><br>
            <div><b>Programmer <span style="color: white">[ Member of SyntaEXE ]</span> :</b></div><br>
            <div><b>Programmer <span style="color: white">[ Member of SyntaEXE ]</span> :</b></div><br>
            <div><b>Programmer <span style="color: white">[ Member of SyntaEXE ]</span> :</b></div>
        </div>

        <div class="column" style="width: 30%;">
            <div>Arsh Noman • @arsh_noman</div><br>
            <div>Akshit Rai • N / A</div><br>
            <div>Geo Jolly • @geo__jolly</div><br>
            <div>Generous E. • N / A</div><br>
            <div>Emil Behnke • N / A</div><br>
            <div>Suyash Srivastava • N / A</div>
        </div>

    </div>

    <div class="small_text">Special Thanks to</div>

    <div class="row" style="margin-left: 32.5%; margin-top: 3%;">

        <div class="column" style="width: 30%; color: #A44AA4;">
            <div style="color: white"><b>Background / Animations : </b></div><br>
        </div>

        <div class="column" style="width: 30%;">
            <div>Alya Zahra • @daydreamcloud_</div><br>
        </div>

    </div>

</div>

{% endblock %}