{% extends 'base.html' %}
{% block title %}Chat{% endblock %}

{% block content %}

<style>

  body{
    background-image: url({{ url_for('static', filename='dot_blue.gif')}});
    background-size: cover;
  }
</style>


<div id="main-section">
    <nav id="sidebar">

    </nav>
    <div id="show" style="color: white;"></div>
    <div class="input-area">
        <input type="text" id="msg" autocomplete="off" placeholder="type here">
        <button type="button" id="send">Send Message</button>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    const username = `{{ u }}`;


    socket.on('message', data => {
        const p = document.createElement('p');
        const br = document.createElement('br');
        const us = document.createElement('span');
        us.innerHTML = data.u;
        p.innerHTML = us.outerHTML + br.outerHTML + data.msg + br.outerHTML;
        document.querySelector('#show').append(p);
        console.log(`Message received : ${data}`);
    });

    socket.on('event', data => {
        console.log(data);
    });

    document.querySelector('#send').onclick = () => {
        socket.send({'msg': document.querySelector('#msg').value, 'u': username});
    }

</script>



{% endblock %}