{% extends 'base.html' %}
{% block title %}Code{% endblock %}

{% block content %}

<style>

   body {
    background-image: url({{ url_for('static', filename='dots.gif')}});
  }

    ::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: white;
  }

::-webkit-scrollbar-thumb {
    background: #A44AA4;
 }

::-webkit-scrollbar-thumb:hover {
    background: #813F81;
 }

</style>


<form method="post">
    <textarea name="lang">Python 3</textarea>
        <textarea id="w3review" name="code" rows="60" cols="100" placeholder="Type code here">{{c}}</textarea>
    <input type="submit">
</form>

Output : {{r}}
</br>
Errors : {{e}}
{% endblock %}
