{% extends 'base.html' %}
{% block title %}Code{% endblock %}

{% block content %}

<style>

   body {
    background-image: url({{ url_for('static', filename='dots.gif')}});
  }

    ::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: white;
  }

::-webkit-scrollbar-thumb {
    background: #A44AA4;
 }

::-webkit-scrollbar-thumb:hover {
    background: #813F81;
 }

</style>


<form method="post">

    <div class="row" style="margin-left: 5%;">

        <div class="column" style="margin-top: 0.5%; margin-left: -3%;">
            <input list="langs" name = 'lang' required>Python 3</input>
            <datalist id="langs">
            <option value="Ruby">
            <option value="Python 3">
            <option value="Perl">
            <option value="Javascript">
            <option value="Go">
          </datalist>
            <button style="font-size: 17px; font-family: 'Work Sans', sans-serif; width: 18%; margin-left: -19%; margin-top: 10%; height: 50%;" type="submit">Run Code</button>
        </div>

        <div class="column">

            <div class="row" style="margin-left: -80%; width: 180%;">

                <div style="margin-right: 50%; width: 50%;" class="column">
                    <textarea style="color: white; background-color: #222222; resize: none;" spellcheck="false" name="code" rows="60" cols="100" id="codeinp" placeholder="Type code here">{{c}}</textarea>
                </div>

                <div class="column" style=" width: 50%; margin-top: -59%;">
                    <textarea style="margin-left: 100%; color: white; background-color: #222222; resize: none;" spellcheck="false" name="code" rows="60" cols="100" placeholder="Output" readonly>{{r}}{{e}}</textarea>
                </div>

            </div>

        </div>

    </div>

</form>
<script>
document.getElementById('codeinp').addEventListener('keydown', function(e) {
  if (e.key == 'Tab') {
    e.preventDefault();
    var start = this.selectionStart;
    var end = this.selectionEnd;

    // set textarea value to: text before caret + tab + text after caret
    this.value = this.value.substring(0, start) +
      "\t" + this.value.substring(end);

    // put caret at right position again
    this.selectionStart =
      this.selectionEnd = start + 1;
  }
});
</script>
{% endblock %}
