{% extends 'base.html' %}
{% block title %}Verselet{% endblock %}

{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

    body {
    background-image: url({{ url_for('static', filename='dots.gif')}});
  }
  

  .auth_button {
    color: white;
    background-color: #24252a;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;

  }

  a,
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }

  .auth_button:hover {
    transition: background-color 0.3s ease 0s;
    background-color: #4B4B4B;
    cursor: pointer;
  }

  .small_text {
    margin: 3%;
    color: #D1D1D1;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

  .big_text {
    margin: 3%;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 65px;
  }

</style>

<div>
  <div style="margin-left: 80%; margin-top: 2%;">
    <a class="auth_button" href="/login"><b>Sign In</b></a>
    <a class="auth_button" href="/register"><b>Sign Up</b></a>
  </div>

  <div class="big_text">
    This is a place to compete.<br>
    This is a place to learn.<br>
    This is <span style="color: #A44AA4; font-size: 70px;">V</span>erselet.
  </div>

  <div class="small_text">
    Compete with friends to solve programming algorithms in multiple different modes.<br>
    Learn from mistakes and get better every question you solve.<br>
    Improve your skills in one of many coding languages and refine your problem solving skills.
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

<div style="color: white;">

  <div class="row">

    <div class="column">

    </div>

    <div class="column">
      <div style="margin-left: 20%; font-family: 'Lato', sans-serif; text-align: left; font-size: 60px;"><span style="color: #A44AA4;">U</span>tilise our minimalistic UI</div>
      <div class="small_text" style="margin-left: 20%;">
        Which was specifally designed with the user in mind.<br>
        Enjoy a comfortable and compact journey throughout your time in <span style="color: #A44AA4;">V</span>erselet.<br>
        A smooth, dynamic experience is waiting for you.
      </div>
    </div>

  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

<div style="color: white;">

  <div class="row">

    <div class="column">
      <div style="margin: 3%; font-family: 'Lato', sans-serif; text-align: left; font-size: 60px;"><span style="color: #A44AA4;">E</span>nhance your coding skills</div>
      <div class="small_text">
        When you use <span style="color: #A44AA4;">V</span>erselet.<br>
        Check your progress with the data we collect from your games.<br>
        Feel proud with every victory, and learn from every loss.
      </div>
    </div>

    <div class="column">

    </div>

  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

<a style="margin-left:50%;" class="auth_button" href="/register"><b>Sign Up</b></a><br><br><br><br><br>

{% endblock %}