{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

    body {
     background-image: url({{ url_for('static', filename='light_dots.gif')}});
  }

  .auth_button {
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;

}

  .auth_button:hover {
    transition: background-color 0.3s ease 0s;
    background-color: #4B4B4B;
    cursor: pointer;
  }
</style>

<div style="margin-left: 80%; margin-top: 2%;">
  <a class="auth_button" style="background-color: #24252a;" href="/login"><b>Log Out</b></a>
</div>

<form method="POST"><button style="width: 10%; background-color: #24252a;" class="auth_button" type="submit" value="create" name="x"><b>Create a game</b></button><br>
<input style="width:250px; margin-left: 5%; margin-top: 3%; margin-bottom: 1%; border-radius: 25px; border: 2px solid #1d1d1d;" type="text" name="join" placeholder="Join a game"><br>
<button style="width: 10%;" class="auth_button" type="submit" value="search" name="x"><b>Search for a game</b></button></form>

{% endblock %}