{% extends 'base.html' %}
{% block title %}Login to Verselet{% endblock %}

{% block content %}

<style>
  body{
    background-image: url({{ url_for('static', filename='bground.jpg') }});
  }


</style>

<div style="center" class="container">
  <h1>Sign in</h1>
  <hr>

  <label for="uname"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="uname" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <button type="submit">Login</button>
</div>

<div class="container">
    <p>Don't have an account? <a href="\register">Register for one</a>.</p>
  </div>

{% endblock %}