{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}

{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

  body{
    background-image: url({{ url_for('static', filename='dots.gif')}});
    background-size: cover;
  }

  .stat_t {
    margin-left: 3%;
    margin-bottom: 1%;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
  }

</style>
<div class="row">

    <div class="column" style="color: white;">
        <div class="big_text" style="margin: 3%;">Your <span style="color: #A44AA4;">P</span>rofile</div>
        <div class="stat_t"><span style="color: #A44AA4;">U</span>sername : <span style="font-family: 'Oxygen', sans-serif;">{{ u }}</span></div>
        <div class="stat_t"><span style="color: #A44AA4;">E</span>mail address : <span style="font-family: 'Oxygen', sans-serif;">{{ e }}</span></div>
        <div class="stat_t"><span style="color: #A44AA4;">D</span>ate of Birth : <span style="font-family: 'Oxygen', sans-serif;">{{ d }} {{ m }} {{ y }}</span></div>
    </div>

    <div class="column" style="color: white; margin-left: 50%; margin-top: -15.57%;">
        <div class="big_text" style="margin: 3%;">Your <span style="color: #A44AA4;">S</span>tats</div>
        <div class="stat_t"><span style="color: #A44AA4;">G</span>ames Played : <span style="font-family: 'Oxygen', sans-serif;">{{ g }}</span></div>
        <div class="stat_t"><span style="color: #A44AA4;">W</span>ins : <span style="font-family: 'Oxygen', sans-serif;">{{ w }}</span></div>
    </div>

</div>
{% endblock %}
