{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}

{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

  body{
    background-image: url({{ url_for('static', filename='bg.png') }});
    background-size: cover;
  }
</style>

<p>Your Profile</p>

{% endblock %}