{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}

<style>
  body{
    background-image: url({{ url_for('static', filename='bg.png') }});
    background-size: cover;
  }


</style>
<h1>{% with messages = get_flashed_messages(with_categories=True) %}
      {% for category, message in messages %}
        <div class="flash {{category}}">{{message}}</div>
      {% endfor %}
  {% endwith%}</h1>
<form method="POST">
  <div class="container">
    <h1>Register</h1>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" id="username" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="\login">Sign in</a>.</p>
  </div>
</form>

{% endblock %}