{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content %}

<style>

    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

    body {
    background-image: url({{ url_for('static', filename='light_dots.gif')}});
    }

    .auth_button {
    color: white;
    background-color: #24252a;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;

}

  .auth_button:hover {
    transition: background-color 0.3s ease 0s;
    background-color: #4B4B4B;
    cursor: pointer;
  }

</style>

<div class="banner" style="color:white;">

    <form style="overflow: visible;" method="POST" enctype = "multipart/form-data">

        <div class="big_text"><span style="color: #A44AA4; margin-top: 3%;">S</span>ettings</div><br><br><br><br><br><br>
        <div class="row">

            <div class="column" style="">
                <div style="font-family: 'Lato', sans-serif; text-align: left; font-size: 40px;"><span style="color: #A44AA4;">P</span>rofile Settings :</div>
            </div>

            <div class="column"  style="font-family: 'Poppins', sans-serif; font-size: 20px;">
                <br><label for="uname"><b><span style="text-align: left; color: #A44AA4; font-size: 30px;">N</span>ame :</b></label>
                <input style="width:250px; margin-left: 5%; float: right; border-radius: 25px; border: 2px solid #1d1d1d;" type="text" name="nameedit" placeholder="NAME DATA COLUMN COMING SOON"><br>
                <br><label for="email"><b><span style="text-align: left; color: #A44AA4; font-size: 30px;">P</span>rofile Picture :</b></label>
                <input type="file" style="	width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" name="file" id="file" class="inputfile" />
                <label for="file" style=" height: 40px; cursor: pointer; text-align: center; background-color: #ffffff;color: black; width:250px; margin: 0%; margin-left: 10%; float: right; border-radius: 25px; border: 2px solid #1d1d1d;">Choose a file</label>
                <br><br><label for="dob"><b><span style="text-align: left; color: #A44AA4; font-size: 30px;">D</span>ate of birth :</b></label>
                <input style="text-align: center; width:250px; height: 40px; border: 2px solid black; border-radius: 25px; float: right; margin-top: 0%; font-size: 1rem;" type="date" value="{{ d }}" placeholder="Date of Birth" name="dob">
            </div>

        </div>

        <br><br><br>

        <div class="row">

            <div class="column" style="">
                <div style="font-family: 'Lato', sans-serif; text-align: left; font-size: 40px;"><span style="color: #A44AA4;">A</span>ccount Settings :</div>
            </div>

            <div class="column"  style="font-family: 'Poppins', sans-serif; font-size: 20px;">
                <br><label for="uname"><b><span style="text-align: left; color: #A44AA4; font-size: 30px;">U</span>sername :</b></label>
                <input style="width:250px; margin-left: 5%; float: right; border-radius: 25px; border: 2px solid #1d1d1d;" type="text" name="unameedit" placeholder="{{ u }}"><br>
                <br><label for="email"><b><span style="text-align: left; color: #A44AA4; font-size: 30px;">E</span>mail address :</b></label>
                <input style="width:250px; margin-left: 5%; float: right; border-radius: 25px; border: 2px solid #1d1d1d;" type="text" name="emailedit" placeholder="{{ e }}"><br>
                <br><label for="dob"><b><span style="text-align: left; color: #A44AA4; font-size: 30px;">P</span>assword :</b></label>
                <input style="width:250px; margin-left: 5%; float: right; border-radius: 25px; border: 2px solid #1d1d1d;" type="password" name="passedit"><br><br><br><br>

                <br><label for="dob"><b><span style="text-align: left; color: #A44AA4; font-size: 30px;">P</span>assword :</b></label>
                <input style="width:250px; margin-left: 5%; float: right; border-radius: 25px; border: 2px solid #1d1d1d;" type="password" name="p" placeholder="Insert current password."><br><br>

            </div>

        </div>

        <div class="row">

            <div class="column">
                <a class="auth_button" href="/"><b>Back</b></a>
            </div>

            <div class="column">
                <button style="font-size: 17px; font-family: 'Work Sans', sans-serif;" type="submit">Confirm</button>
                <h1>
                  {% with messages = get_flashed_messages(with_categories=True) %}
                    {% for category, message in messages %}
                      <div style="font-family: 'Roboto Mono', monospace; font-size: 17px; color: #CA0000" class="flash {{category}}">{{message}}</div>
                    {% endfor %}
                  {% endwith%}
                </h1>
            </div>

        </div>

    </form>

</div>

{% endblock %}