{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content %}

<style>

    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

    body {
    background-image: url({{ url_for('static', filename='light_dots.gif')}});
    }

</style>

<div class="banner" style="color:white;">

    <div class="big_text"><span style="color: #A44AA4; margin-top: 3%;">S</span>ettings</div><br><br><br><br><br><br>

    <div style="font-family: 'Lato', sans-serif; text-align: left; font-size: 40px;"><span style="color: #A44AA4;">P</span>rofile Preferences :</div>

</div>

{% endblock %}